html{
    box-sizing: border-box;

}


body {
    background-color: lightgray;
    margin:0px;
    padding:0px;
}

#img{
 width:200px;   
}

/*This is the blue shape*/

#blue{
   background-color:cadetblue;
    width:200px;
    height:65px;
}

/*COMPLETE CSS BELOW*/

#yellow{
    background-color: gold;
    width: 200px;
    height: 50px
    
}

#black{
    background-color: darkslategray;
    width:200px;
    height:55px
    
}


#gold{
    background-color:goldenrod;
    width:200px;
    height:35px
    
}

#green{ background-color: darkolivegreen;
    width: 200px;
    height: 70px
    
    
}

#gold2{
    background-color:goldenrod;
    width:200px;
    height:40px
    




